<style>

  h1 {
    font-size: 12px;
    color: blue;
  }

</style>

<h1>Hi there, <%= @email %>. Welcome to the realestatekings </h1>

<p> I hope you our free property evaluation tool was helpful! </p>
