<style>

  h1 {
    font-size: 12px;
    color: blue;
  }

</style>

<p>Hi there, <%= @email %>. </p>

<p> Thank you for using our FREE property evaluation software. </p>

<p> Based on the information you provided, your property is worth $<%= @my_property_price %>  </p>

<p> If you liked this software don't forget to share our website on facebook! </p>

<p> All the best! </p>

<p> The PropertyApp Team </p>
