

<!-- <div class="enter-suburb form">
<%= form_tag("/search", method: "get") do %>
  <%= label_tag("Enter your suburb") %>
  <%= text_field_tag(:suburb) %>
  <%= submit_tag("Next") %>
<% end %>
</div> -->


<!-- #   <%#= label_tag("Enter the number of bedrooms") %>
#   <%#= text_field_tag(:bedrooms) %>
#
#   <%#= label_tag("Distance from nearest public transport") %>
#   <%#= text_field_tag(:distance_from_transport) %>
#
#   <%#= label_tag("Enter your email address") %>
#   <%#= email_field_tag(:email) %>
#
#   <%#= submit_tag("Search") %>
# <%# end %> -->
