<h1>This is our home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veniam quasi suscipit rerum fugit dolorum, error distinctio totam eos animi non velit incidunt maxime amet, ullam eaque facere dicta veritatis.</p>
<p>Veniam voluptate in ut ad nulla maxime est earum, consequatur eos praesentium labore accusamus odio, eaque quaerat libero quae temporibus. Beatae ut rem accusamus sed, deserunt numquam quis nesciunt amet.</p>
<p>Mollitia nesciunt totam repellendus et vel laudantium harum aspernatur minus, perspiciatis ullam porro quia modi, dolore exercitationem labore odio nulla ipsum facilis autem cum asperiores id. Facere perferendis totam officiis.</p>

<%= render :partial => 'form' %>
