
<h1><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_50/v1482109339/Red_property_icon_k8lnbp.png"></h1>
<p id="notice"><%= notice %></p></h1>

<h1>Property App</h1>

<p>Australian Valuation</p>

<body>
<div class="row">
      <div class="medium-12 columns"></div>
      <div class="column column-block offset-s4">
      <img src="//placehold.it/300x80" class="Australian Stats section 1" alt="">
    </div>

      <div class="col s4"></div>
      <div class="column column-block">
          <img src="//placehold.it/100x100" class="Australian Stats section 2" alt="">
        </div>

      <div class="col s6"></div>
      <div class="column column-block">
          <img src="//placehold.it/300x200" class="Australian Stats section 3" alt="">
        </div>

      <div class="col s3"></div>
      <div class="column column-block">
          <img src="//placehold.it/100x100" class="Australian Stats section 4" alt="">
        </div>

      <div class="col s3"></div>
      <div class="column column-block">
          <img src="//placehold.it/100x100" class="Australian Stats section 5" alt="">
        </div>

      <div class="col s3"></div>
      <div class="column column-block">
          <img src="//placehold.it/100x100" class="Australian Stats section 6" alt="">
        </div>

      <div class="col s3"></div>
      <div class="column column-block">
          <img src="//placehold.it/100x100" class="Australian Stats section 7" alt="">
        </div>

      <div class="col s12"></div>
      <div class="column column-block">
          <img src="//placehold.it/600x100" class="Evaluate my property" alt="">
        </div>

    </div>
</body>
