
<h1><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_50/v1482109339/Red_property_icon_k8lnbp.png"></h1>
<p id="notice"><%= notice %></p></h1>

<h1>Property App</h1>

<p>Australian Valuation</p>
