/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import 'foundation';

// ---------- global section ------------

html {
  // background-color: #FBE2B4;
  background-image: url('background.jpg');
}



// ---------- end global section ----------




// ------------ Logo section --------


.logo-container {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.logo-image {

  width: 6vw;
  margin-top: -3vh;

}
.logo-text {
  font-size: 3em;
  vertical-align: middle;
  // margin-left: 15vw;
}
h1.logo-text {
  // display:inline;
  margin-top:0px;
  padding-top:4vh;
}

nav {
  height: 20vh;

}

#main-nav {
  background-color: #FF4C65;
  vertical-align: middle;
}



//------- end logo section

// ------- start evaluation container

.evaluation-container {
  width: 30vw;
  height: 30vh;
  opacity: 1;
  // background-color: #3B3A35;
  margin: 0 auto;
  margin-top: 10vh;
  // border: 1px solid #F2EEB3;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 2%;
  position: relative;
}


// ----- end evaluation container

// ------- start of global stats


.global-stats {
  width: 80vw;

  // height: 50vh;
  // border: 2px solid black;

  // height: 50vh;
  // background-color: white;
  color: black;
  opacity: 1;

  margin: 0 auto;
  text-align: center;


}
.global-stats h3 {

  font-size: 32px;
}

.global-stats-box {

}
.global-stats-box p {
  font-family: monospace;
  font-size: 2.2em;
  color: white;
}
p.global-stats-label {
  font-size: 1.2em;
  color: white;
  padding-top: 15%;
}

.global-suburb-list {
  height: 50vh;
}
.global-suburb-list p {
  font-size: 14px;
}

.global-stats img {
  width: 500px;
}



.mood-row img {
  width:100px;
}

.mood-row {

  background-color: white;
}

.current-price {
  background-color: #59C4C5;
  width: 25vw;
  height: 38vh;
  border: 1px solid black;
}
.projected-percentage {
  background-color: #59C4C5;
  width: 25vw;
  height: 38vh;
  border: 1px solid black;
}
.projected-price {
  background-color: #59C4C5;
  width: 25vw;
  height: 38vh;
  border: 1px solid black;
}

.global-second-row {
  background-color: white;
}
.global-third-row {
  background-color: white;
  border: 1px solid black;
}



// ------ end of global stats ------------

// -------- start of local stats section-------

.local-stats {

  width: 80vw;


  // height: 50vh;

  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 1;
  margin: 0 auto;

  @extend .global-stats;

}
.local-stats h5 {
  color: black;
}

.demographics {
  border: 1px black solid;
}

.my-property-value-container {
  border: 1px solid gainsboro;
  width: 50vw;
}
.my-property-value-container p {
  color: #59C4C5;
  font-size: 1.8em;
}



// -------- end of local stats section ---------

video.halfscreen {
position: fixed;
top: 50%;
min-width: 100%;
min-height: 50%;
width: auto;
background: url ("http://res.cloudinary.com/esthertan/video/upload/c_fill,h_500,w_1200/v1482276668/residential-neighborhood_h9wsw8ogg_WL_online-video-cutter.com_pct9bu.mp4");
z-index: -10;
}


body {
  font-family: 'Montserrat', sans-serif;
  // background-image: url("http://res.cloudinary.com/esthertan/image/upload/c_scale,h_1200,w_1959/v1482117970/stairs-home-loft-lifestyle_kxovm4.jpg");
  // background-size: cover;
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-style: bold;
}


h5 {
  color: white;
}
h2 {
color: white;
font-size: 20px;
}

h3 {
color: #FF4C65;
font-size: 20px;
}

p {
  color: #FF4C65;
  text-align: center;
  font-style: bold;
}

div #valuation-container {
border: solid 2px black;
margin-left:30%;
width: 40%;
// position: absolute;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
text-align: center;

}
.valuation-card {
  margin: 0 0;
}
.global-stats-card {
  height: 40vh;
  width: 70vw;
  margin-left: 12vw;
  text-align: center;
  border: solid 2px #FF4C65;
}

#Evaluate-my-property {
height: 15vh;
width: 35vw;
margin-left: 10vw;
text-align: center;
border: solid 2px black;
margin: 0 0;
}

// button.Value-My-Property {
//     background-color: #FF4C65;
//     font-style: solid;
//     color: white;
//     opacity: 1;
//     text-align: center;
//
//   }

label {
  color: black;
}

div.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}








// img.Australian.stats.section.1 {
//
//   position: relative;
//   border-width: 1px 0 0 1px;
//   border-style: solid #FF4C65;
//   float: right;
// }
