// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Value-My-Property {
  text-align: center;
  margin: 0 auto;
  border-color: black;
  background-color: ghostwhite;
  color: red;
  padding: 10px;
}

.none {
  display: none;
}

.form-wrapper {
  margin: 0 auto;
  width: 200px; 
}

// .enter-suburb {
//   display: none;
// }
//
// .enter-bedrooms {
//   display: none;
// }
//
// .enter-distance {
//   display: none;
// }
//
// .enter-email {
//   display: none;
// }
